.main-chat
  .main-chat__top
    .main-chat__top__left
      %p.main-chat__top__left__group-name 
        = @group.name
      .main-chat__top__left__member-name 
        Member:
      -@group.users.each do |user|
        #{user.name}


    .main-chat__top__right
      = link_to edit_group_path(@group), class:"edit-btn" do
        %p.main-chat__top__right__edit Edit
      
  .main-chat__middle
    = render @messages
   
  .main-chat__bottom
    = form_for [@group, @message] do |f|
      #new-message.new-message
        .input-box
          .input-box__place-holder
            = f.text_field :content, class: 'input-box__place-holder', placeholder: 'type a message'
          .input-box__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new-massage__submit-btn'

   
       
            
